[flake8]
max-line-length = 88
exclude = 
    .git,
    __pycache__,
    .pytest_cache,
    venv,
    env,
    .venv,
    .env,
    build,
    dist
ignore = 
    E203,  # whitespace before ':'
    W503,  # line break before binary operator
per-file-ignores =
    __init__.py:F401
